<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Categories Page</title>

  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.css" rel="stylesheet" />

  <link rel="stylesheet" href="/css/new_categories.css" type="text/css">

</head>

<body>

  <%- include('../partials/navbar',{isLoggedIn:loggedIn}) %>

  <section class="body-font">
    <div class="flex justify-center dropdown py-4">
      <button class="btn btn-primary dropdown-toggle" type="button" data-mdb-toggle="dropdown" aria-expanded="false">
        Filter Services
      </button>
      <div class="dropdown-menu" style="width: 320px; margin-bottom: 0;">
        <form class="px-4 py-3" id="changes-form">
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Price filter:</label>
            <div style="display: flex;flex-direction: row;justify-content: space-between;overflow: auto;">
              <input class="form-control" type="number" name="min" id="min" value="0" style="width: 50%;">
              <input class="form-control" type="number" name="max" id="max" value="10000" style="width: 50%;">
            </div>
          </div>

          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Delivery Time</label>
            <div class="dropdown">
              <ul style="text-decoration: none;list-style-type: none;">
                <li>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="1d" />
                    <label class="form-check-label" for="flexRadioDefault" style="font-size: large;color: black;"> Under 24hrs </label>
                  </div>
                </li>
                <li>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="3d" />
                    <label class="form-check-label" for="flexRadioDefault" style="font-size: large;color: black;"> Under 72hrs </label>
                  </div>
                </li>
                <li>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="4d" />
                    <label class="form-check-label" for="flexRadioDefault" style="font-size: large;color: black;"> Under 90hrs </label>
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <div class="row mb-4">
            <div class="col d-flex justify-content-center">
              <button class="btn btn-danger" id="clear" type="button">Clear</button>
            </div>

            <div class="col">
              <button class="btn btn-primary" id="submit" type="submit">Apply</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="container px-5 py-4 mx-auto">
      <div class="flex justify-center flex-wrap -m-4">
        <% if(data.length>=1) { %>
          <% data.forEach(d=>{ %>
            <div class="p-4 m-4 md:w-1/4"
              style="background-color: #004a3e;border-radius: 10px;box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;;">
              <div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
                <img class="lg:h-48 md:h-36 w-full object-cover object-center" src='<%= d.main_img %>' alt="blog">
                <div class="p-6">
                  <h2 class="tracking-widest w-auto text-xs title-font font-medium text-white mb-1"><span
                      style="background-color:#75b2ad;padding: 2px;border-radius: 2px;">
                      <%= d.service_type %>
                    </span>
                  </h2>
                  <h1 class="title-font text-lg font-medium text-white mb-3">
                    <%= d.seller_title %> 
                  </h1>
                  <p class="leading-relaxed mb-3 text-white">
                    <%= d.seller_desc %>
                  </p>
                  <div class="flex items-center flex-wrap ">
                    <a class="inline-flex items-center">
                      <img alt="blog" src="<%= d.seller_img %>"
                        class="w-14 h-14 rounded-full flex-shrink-0 object-cover object-center">
                      <span class="flex-grow flex flex-col pl-4">
                        <span class="title-font font-medium text-white">
                          <%= d.seller_name %>
                        </span>
                        <span class="text-white text-xs tracking-widest mt-0.5">
                          <%= d.seller_type %>
                        </span>
                      </span>
                    </a>
                    <div>
                      <span
                        class="text-white mr-3 inline-flex items-center lg:ml-auto md:ml-0 ml-auto leading-none text-sm pr-3 py-1 border-r-2 border-gray-200">
                        <%= d.rating %><i class="fa-sharp fa-solid fa-star"></i>
                      </span>
                      <span class="text-white text-sm">
                        <i class="fa-solid fa-user"></i>(600)
                      </span>
                    </div>
                  </div>
                  <br>
                  <hr style="background-color: azure;">
                </div>
                <div class="flex justify-around">
                  <div class="price">
                    <h5 class="text-white font-medium">Starting at</h5>
                    <span class="font-large text-xl text-white">
                      ₹<%= d.starting_price %>
                    </span>
                  </div>
                  <button onclick="window.location.href=`/app/product/<%=d._id%>`"
                    class="flex text-white bg-green-400 border-0 px-6 py-2 h-auto align-center hover:bg-emerald-300 rounded">Learn
                    More</button>
                </div>
              </div>
            </div>
            <% }) %>
              <% } else { %>
                <div class="container2">
                  <h2>404</h2>
                  <h3>Oops, nothing here...</h3>
                  <p>Please Check the URL</p>
                  <p>Otherwise, <a href="/" onmouseover="hover()" onmouseleave="leave()" id="click">Click here</a> to redirect to homepage.</p>
                </div>
                <% } %>
      </div>
    </div>
  </section>

  <%- include('../partials/footer') %>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.js"></script>
  <script src="/js/categories.js"></script>

  <script>
    function dropdownmenu() {
      var x = document.getElementById("dropdownclick");
      if (x.classname === "topnav") {
        x.classname += " responsive";
        /* change topnav to topnav.responsive */
      } else {
        x.classname = "topnav";
      }
    }

    function hover() {
      const p = document.getElementById('click');
      p.style.textDecoration= 'underline';
      p.style.color = '#fff';
    }

    function leave() {
      const p = document.getElementById('click');
      p.style.textDecoration = 'none'
    }
  </script>
</body>

</html>